/*  This is the Portfolio Style Sheet */

/* Tell browser to fit box sizing calculations */
* {
    box-sizing: border-box;
}

/* Set background colour and remove browser margins */
body {
    margin: 0;
    padding: 0;
    background-color: blueviolet;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header nav {
    display: flex;
    margin: 7px 0;
  }

  header nav ul li {
    display: inline-flex;
  }

header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}